.headrr{
    background-color: #333;
}
.headrr ul{
    margin: 0px;
    padding: 0px;
}
.headrr ul a{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f4f4f4; 
    text-decoration: none;
    width: 100px;
    display: inline-block;
    text-align: center;
}
.body{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    margin: 0px;
}
.container .guit-bg{
    background: url('https://jolly-kalam-23776e.netlify.app/mytunes/img/showcase.jpeg') no-repeat center/cover;
    height: 95vh;
    color: #f4f4f4; 
}
.horizontal_center_align{
    display: flex;
    justify-content: center;
}
.container .guit-bg .my_tune{
    padding-top: 24vh;
    font-size: 4.5rem;
    font-weight: bolder;
}
.container .guit-bg .your_music{
    font-size: 2.2rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container .guit-bg .mac{
    font-size: 1.4rem;
    text-align: center;
}
.container .music_section{
    background-color: #252529;
    color: #fff;
    line-height: 1.6;
    font-weight: bolder;
}
.container .music_section #mus{
    padding-top: 10px; ;
    padding-bottom: 10px;
    font-size: 2.3rem;
}
.container .music_section .f5-million{
    font-size: 1.8rem;
}

.container .music_section .stream{
    padding-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
}

.container .music_section .button a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #b90415;
    background: #b90415;
    padding: 16px;
    font-weight: normal;
}
.container .music_section .bellow-button{
    font-weight: normal;
}