.headrr{
    background-color: #333;
}
.headrr ul{
    margin: 0px;
    padding: 0px;
}
.headrr ul a{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f4f4f4; 
    text-decoration: none;
    width: 100px;
    display: inline-block;
    text-align: center;
}
.body{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    margin: 0px;
    overflow-x: hidden;
}
.container .guit-bg{
    background: url('https://jolly-kalam-23776e.netlify.app/mytunes/img/showcase.jpeg') no-repeat center/cover;
    height: 95vh;
    color: #f4f4f4; 
}
.horizontal_center_align{
    display: flex;
    justify-content: center;
}
.container .guit-bg .my_tune{
    padding-top: 24vh;
    font-size: 4.5rem;
    font-weight: bolder;
}
.container .guit-bg .your_music{
    font-size: 2.2rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container .guit-bg .mac{
    font-size: 1.4rem;
    text-align: center;
}
.container .music_section{
    background-color: #252529;
    color: #fff;
    line-height: 1.6;
    font-weight: bolder;
}
.container .music_section #mus{
    padding-top: 10px; ;
    padding-bottom: 10px;
    font-size: 2.3rem;
}
.container .music_section .f5-million{
    font-size: 1.8rem;
}
.container .music_section .stream{
    padding-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
}
.container .music_section .button a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #b90415;
    background: #b90415;
    padding: 16px;
    font-weight: normal;
}
.container .music_section .bellow-button{
    font-weight: normal;
}
.container .bellow-guit{
    padding-bottom: 32px;
}
.container .bellow-guit .the_movie{
    font-size: 2rem;
    color: #333;
    line-height: 1.6;
    font-weight: bolder;
    margin-top: 32px;
    margin-bottom: 32px;
}
.container .bellow-guit .with-over{
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    padding-bottom:21px ;
}
.container .bellow-guit .blue_button a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #143f85;
    background: #143f85;
    padding: 16px;
    font-weight: normal;
}
.container .chamakti-raat{
    background: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/section-bg.jpeg) no-repeat bottom/cover;
    height: 90vh;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    margin-top: auto;
}
.container .chamakti-raat .write-up{
    align-items: center;
}
.container .chamakti-raat .write-up .world{
    font-size: 2rem;
    font-weight: bold;
}
.container .chamakti-raat  .write-up .bellow-world{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
}
.container .gift-card-parent .gift-cards{
    width: 85%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}
.container .gift-card-parent .gift-cards .card #gift_id{
    width: 100%;
}
.container .gift-card-parent .gift-cards .card-details{
    color: #333;
}
.container .gift-card-parent .gift-cards .card-details .card1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .gift-card-parent .gift-cards .card-details .card1det{
    font-size: 1.2rem;
}
.container .gift-card-parent .gift-cards .card-details .already{
    margin-top: 15px;
    margin-bottom: 15px;
}
.container .gift-card-parent .gift-cards .card-details .redee{
    color: #103063;
}
.container .tabe-links-parent{
    background-color: #252529;
    padding-left: 15.8px;
    padding-right: 15.8px;
}
.container .tabe-links-parent .table-links{
    width: 80%;
    color: #fff;;
    padding-top: 32px;
    padding-bottom: 32px;
}
.container .tabe-links-parent .table-links .diff-cols{
    width: 55%;
}
.container .tabe-links-parent .table-links .diff-cols .sub-head{
    font-weight: bold;
    font-size: 1.2rem;
}
.container .bottom{
    background: #333;
    padding-top: 16px;
    padding-bottom: 16px;
}
.container .bottom .copy{
    color: #fff;
    font-size: 1.2rem;
}